  html, body {
    width: 100%;
    height: 100%;
  }

  body {
      background: #412E20 url("img/bg_tile.jpg") repeat-y center top;
      text-align: center;
  }

  span.data, .hidden {
    display: none;
  }

  #header {
    background: transparent url("img/sky.jpg") repeat-x center top;
    height: 203px;
  }
  
  #header div {
    background: transparent url("img/header.jpg") no-repeat center top;
    height: 203px;
  }
  
  #content {
    background: transparent url("img/bg_underground.jpg") no-repeat center top;
    overflow: hidden;
  }
  
  #footer {
    background: transparent url("img/bg_footer.jpg") no-repeat center top;
    height: 400px;
  }
  
  /* NAV :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  #nav {
    padding-top: 8px;
    width: 900px;
    margin: auto;
    text-align: left;
    overflow: hidden;
  }

  #nav ul.menu {
    width: 646px;
    float: left;
    overflow: hidden;
    margin-right: 32px;
  }

  ul.menu li {
    display: inline-block;
    height: 30px;
    margin-right: 0px;
    background: #201712;
    position: relative;
  }

  ul.menu li a {
    display:block;
    text-decoration: none;
    padding: 10px 8px 0 8px;
    color: #f08201;
    font-size: 12px;
  }

  ul.menu li ul {
    display: none;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 1;
  }
  
  ul.menu li:hover ul {
    display: block;
  }


  #nav ul.social {
    width: 219px;
    float: left;
    overflow: hidden;
  }




  #site {
    width: 940px;
    margin: auto;
    text-align: left;
    overflow: hidden;
  }
  
  #main-content {
    width: 590px;
    float: left;
    margin: 0 68px 0 65px;
    padding-top: 60px;
    overflow: hidden;
  }
  
  #side-content {
    width: 210px;
    float: left;
    padding-top: 60px;
    overflow: hidden;
  }
  

  .block {
    
    padding: 10px 0 30px 0;
    overflow: hidden;
  }
  
  
